<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Herokuapp Suite">
  <test name="UI Tests">
    <classes>
      <class name="com.herokuapp.tests.LoginTest"/>
      <class name="com.herokuapp.tests.InvalidLoginTest"/>
      <class name="com.herokuapp.tests.LogoutTest"/>
    </classes>
  </test>
</suite>
